{
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2021",
        "externalHelpers": true,
        "experimental": {
            "keepImportAssertions": true
        }
    },
    "module": {
        "type": "es6"
    }
}